.skin-blue .content-header {
    background: transparent;
}
.content-header {
    position: relative;
    padding: 15px 15px 0 15px;
}
.content-header {
    display: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
section {
    display: block;
}
.box.box-primary {
    border-top-color: #faa21c;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.box.box-primary {
    border-top-color: #faa21c;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    /* border: solid 1px #dde4eb; */
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto','Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10pt;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
    content: " ";
    display: table;
}
 
.box-header:after, .box-body:after, .box-footer:after {
    clear: both;
}
.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
    content: " ";
    display: table;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-tabs-custom {
    margin-bottom: 20px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.nav-tabs-custom {
    box-shadow: none !important;
}
.theme-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24) !important;
}
.profile-user-img {
    margin: 0 auto;
    width: 100px;
    padding: 3px;
    border: 3px solid #d2d6de;
}
.img-circle {
    border-radius: 50%;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.profile-username {
    font-size: 21px;
    margin-top: 5px;
}
.text-center {
    text-align: center;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto','Source Sans Pro',sans-serif;
}
.h3, h3 {
    font-size: 24px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.theme-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24) !important;
}
.nav-tabs-custom {
    margin-bottom: 20px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.nav-tabs-custom>.nav-tabs {
    margin: 0;
    border-bottom-color: #f4f4f4;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.nav-tabs-custom>.nav-tabs>li>a, .nav-tabs-custom>.nav-tabs>li>a:hover {
    background: transparent;
    margin: 0;
}
.nav-tabs-custom>.nav-tabs>li>a {
    color: #444;
    border-radius: 0;
}
.nav>li>a, .sidebar-menu>li>a, .treeview-menu>li>a {
    overflow: hidden;
    position: relative;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-tabs-custom>.tab-content {
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
 
a {
    position: relative;
    overflow: hidden;
    display: table;
}
a {
    color: #0084B4;
}
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #faa21c;
}
.nav-tabs-custom>.nav-tabs>li.active {
    border-bottom-color: #faa21c;
}
.nav-tabs-custom>.nav-tabs>li {
    border-bottom: 3px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-tabs>li.active>a:active:after,
.sidebar a:active:after,
.btn-default:active:after{transform: scale(0,0);opacity: .2;transition: 0s;}
.nav-tabs>li.active>a:after,   
.sidebar a:after,   
.btn-default:after{content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;}
.nav>li>a,   
.sidebar-menu>li>a,
 .treeview-menu>li>a{overflow: hidden; position: relative;}
.dropdown-menu>li>a:active:after,
.nav>li>a:active:after,
.nav-tabs>li.active>a:active:after,
.sidebar-menu>li>a:active:after,
.treeview-menu>li>a:active:after{
    transform: scale(0,0);
    opacity: .2;
    transition: 0s;}
.nav>li>a:after,
.sidebar-menu>li>a:after,
.treeview-menu>li>a:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 2s;
}
/*.anchorbtn,*/
a{position: relative; overflow: hidden; display: table;}
/*.anchorbtn:active:after,*/
a:active:after
{transform: scale(0,0);opacity: .2;transition: 0s;}
/*.anchorbtn:after,*/
a:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%) !important;
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}

/*End all button Riple effect*/

/*19 august*/
.info-box a{color: #333;text-decoration: none;transition: all 0.3s linear;width: 100%;display: block;padding: 10px;}
/*.info-box a:hover{color: #000; text-decoration: none;}*/
.info-box{transition: all .3s cubic-bezier(.25,.8,.25,1);display: block;cursor: pointer;/* transition: all 0.25s ease; *//* padding: 10px; */border: solid 1px #dde4eb;}
.info-box:hover{/* background-color: #fff; */box-shadow: 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);transform: translateY(-4px) scale(1.02);box-shadow: 0px 14px 24px rgba(62, 57, 107, 0.2);}
.btn-searchsm{
    padding: 4px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.selector-list{list-style:none;margin-top:35px;padding:0;width:190px;position: absolute;
width: 100%; z-index: 3;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);}
.selector-list li{padding: 5px 10px;}
.selector-list li:hover{background:#f5f5f5;}
#suggesstion-box{position: relative;}
/*end 19 August*/

/*9 september*/
.bright{border-right:1px solid #d2d6de !important;}
.padszero{padding-bottom: 0 !important}
.wellscroll{height: 190px;overflow-y: auto; overflow-x: hidden;}
.pull-right a{display: inline-block;}  
.pagetitleh {
  background: #424242;
  margin: 0;
  font-size: 16px;
  padding: 8px 14px;
  color: #fff;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.bordertopgray{border-top:1px solid rgba(66, 66, 66, 0.69) !important;}
.borgray{border:1px solid rgba(66, 66, 66, 0.23);}
.bordertoplightgray{border-top: 1px solid rgb(229, 229, 229) !important;}
.tmb0{margin-bottom: 0 !important;}
.bgtgray{background:rgba(66, 66, 66, 0.10); overflow: hidden; 
  /*border:1px solid rgba(66, 66, 66, 0.23); 
  border-top:0;*/margin-bottom: 10px;}  
.mb25{margin-bottom: 25px;}
  .pagetitleh2 {
    background: #f2f2f2;
    margin: 0;
    font-size: 16px;
    padding: 8px 14px;
    color: #000;
    /*box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);*/
    border-bottom: 1px solid #d7dfe3;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.pull-right {
    float: right;
}
.text-aqua {
    color: #00c0ef !important;
}
.pull-right {
    float: right!important;
}
a {
    position: relative;
    overflow: hidden;
    display: table;
}
a {
    color: #0084B4;
}
a {
    -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
} 
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #faa21c;
}
.nav-tabs-custom>.nav-tabs>li:first-of-type {
    margin-left: 0;
}
.nav-tabs-custom>.nav-tabs>li.active {
    border-bottom-color: #faa21c;
}
.nav-tabs-custom>.nav-tabs>li {
    border-bottom: 3px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.nav-tabs>li.active>a:after, .sidebar a:after, .btn-default:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}
.nav>li>a:after, .sidebar-menu>li>a:after, .treeview-menu>li>a:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 2s;
}
a:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%) !important;
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-tabs-custom>.tab-content {
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
 
.tshadow {
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); */
    border: 1px solid #e7ebf0;
}
.mb25 {
    margin-bottom: 25px;
}
.bozero {
    border-top: 0 !important;
}

a {
    background-color: transparent;
}
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #faa21c;
}
.nav-tabs-custom>.nav-tabs>li.active {
    border-bottom-color: #faa21c;
}
.nav-tabs-custom>.nav-tabs>li {
    border-bottom: 3px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto','Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10pt;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.nav-tabs-custom>.nav-tabs>li:first-of-type {
    margin-left: 0;
}
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #faa21c;
}
.nav-tabs-custom>.nav-tabs>li {
    border-bottom: 3px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.pagetitleh-whitebg {
    background: #fff;
    margin: 0;
    font-size: 18px;
    padding: 10px 10px;
    color: #444;
    /*box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);*/
    border-bottom: 1px solid #d7dfe3;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} 
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    empty-cells: hide;
    color: #444;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
} 
.around10 {
    padding: 10px;
}
.pt0 {
    padding-top: 0 !important;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}