<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-header-title">
          <ng-container><h5 class="m-b-10">Fee</h5></ng-container>
        </div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/dashboard/analytics/']" ><i class="feather icon-home"></i></a>
           </li> 
           <li class="breadcrumb-item"><a [routerLink]="['/forms/basic/']">Fee</a></li>
           <li class="breadcrumb-item"><a [routerLink]="['/forms/CollectFee/']">Collect Fee</a></li>
         </ul>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-2">
    <div class="form-group">
      <label for="exampleInputEmail1">Class level</label>
      <select (change)="LevelChange($event)" class="form-control" id="exampleFormControlSelect1">
        <option value="-1" [selected]="selected" disabled>--Select--</option>
        <option value="1">Junior</option>
        <option value="2">Senior</option>
      </select>  
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <label for="exampleInputEmail1">Class</label>
      <select (change)='onOptionsSelected($event)' class="form-control" id="exampleFormControlSelect1"> 
        <option value="-1" [selected]="selected"  >--Select--</option>
          <option *ngFor="let items of allClasses" [ngValue]="items">{{items.classes}}</option>
      </select>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <label for="exampleInputEmail1">Class Section</label>
      <select (change)="getStuByClassSelect($event)" class="form-control" id="exampleFormControlSelect1">
        <option value="-1" [selected]="selected" >--Select--</option>
        <option *ngFor="let items of sections" [ngValue]="items">{{items}}</option>
      </select>
      <small id="emailHelp" class="invalid-feedback">Please select Section</small>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-group">
      <label for="exampleInputEmail1">Student's</label>
      <select (change)="onOptionsSelectedStudents($event)" class="form-control" id="exampleFormControlSelect1">
       <option  [selected]="selected">--Select--</option>
        <option *ngFor="let item of allStudentOfClass" [value]="item.Id">{{item.firstName +' '+ item.lastName + ' ' +'['+ item.rollNo+']'}}</option>
        
      </select>
      <small id="emailHelp" class="invalid-feedback">Please select Section</small>
    </div>
  </div>
  
 
  <div class="col-lg-2">
      <br>
    <div class="form-group"> 
      <button style="margin-top: 8px;" (click)="GetFeeTypes()" class="btn btn-danger" type="button"><i class="fa fa-search"></i> Get</button>
    </div>
  </div>

</div> 
<form (ngSubmit)="PayInTerms()" name="userForm"> 
<div>
  <hr> 
  <div *ngIf="showData==true" class="col-md-10">   
     <table class="table m-b-0">
       <thead>
         <tr>  
           <th>
             <span>Fee Type
               <a class="help"><i class="fa fa-sort-numeric-up"></i></a>
             </span>
           </th> 
           <th>
             <span>Term-1
               <a class="help"><i class="fab fa-cuttlefish"></i></a>
             </span>
           </th> 
          
           <th>
            <span>Term-2
              <a class="help"><i class="fab fa-cuttlefish"></i></a>
            </span>
          </th>  
          <th>
            <span>Term-1 Total Fee
              <a class="help"><i class="fab fa-cuttlefish"></i></a>
            </span>
          </th>  
          <th>
            <span>Term-2 Total Fee
              <a class="help"><i class="fab fa-cuttlefish"></i></a>
            </span>
          </th>  
         </tr>
       </thead>
       <tbody>
           <div *ngIf="FeeTypes?.length==0" class="d-flex justify-content-start center">
               <div class="text text-center" role="status">
                <b>No Result Found</b>
               </div>
             </div>
            
    <tr *ngFor="let item of FeeTypes">
      <td><input class="form-control" [value]="item.FeeType" type="text"></td>
      <td> 
          <input class="form-control" [ngModelOptions]="{standalone: true}" *ngIf="item.Term1Paid!=0" [(ngModel)]="item.Term1Paid" [name]="item.term1Paid" [value]="item.Term1Paid" type="number" >
          <input class="form-control" [ngModelOptions]="{standalone: true}" *ngIf="item.Term1Paid==0" disabled="disable" [(ngModel)]="item.Term1Paid" [name]="item.Term1Paid"  [value]="item.term1Paid"   type="number" >
      </td>
      <td> 
        <input class="form-control"  [ngModelOptions]="{standalone: true}" *ngIf="item.Term2Paid!=0" [(ngModel)]="item.Term2Paid" [name]="item.Term2Paid" [value]="item.Term2Paid"  type="number" >
        <input class="form-control"  [ngModelOptions]="{standalone: true}" disabled="disable" *ngIf="item.Term2Paid==0" [(ngModel)]="item.Term2Paid" [name]="item.Term2Paid" [value]="item.Term2Paid" type="number" >
    </td>
    <td> 
      <input class="form-control" disabled="disabled"  [value]="item.Term1" type="number" >
  </td>
  <td> 
    <input class="form-control"  disabled="disabled" [value]="item.Term12"  type="number" >
</td> 
    </tr> 
    <tr>
      <td>Pay In Terms</td>
      <td>
        <input type="submit" *ngIf="disable==true" disabled="disabled" value="Pay Term-1" class="btn btn-success">
        <input type="submit" *ngIf="disable!=true"  value="Pay Term-1" class="btn btn-success">
      </td>
      
      <td><input type="button"  (click)="PayInTerm()" value="Pay Term-2" class="btn btn-success"></td>
    </tr> 
       </tbody>
     </table> 
  </div>
  <!-- <div class="row">
  <div class="col-lg-4">
    <input type="button" (click)="onSubmit()" value="submit">
  </div>  
   </div> -->
</div>
</form>
 