<div class="row">
  <div class="col-lg-1">  
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <label for="exampleInputEmail1">Class level</label>
      <select (change)="LevelChange($event)" class="form-control" id="exampleFormControlSelect1">
        <option value="-1" [selected]="selected" disabled>--Select--</option>
        <option value="1">Junior</option>
        <option value="2">Senior</option>
      </select>  
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <label for="exampleInputEmail1">Class</label>
      <select (change)='onOptionsSelected($event)' class="form-control" id="exampleFormControlSelect1"> 
        <option [selected]="selected" disabled>--Select--</option>
          <option *ngFor="let items of allClasses" [ngValue]="items">{{items.classes}}</option>
      </select>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <label for="exampleInputEmail1">Class Section</label>
      <select (change)="onOptionsSelectedStudents($event)" class="form-control" id="exampleFormControlSelect1">
        <option [selected]="selected" disabled>--Select--</option>
        <option value="A">A</option>
        <option value="B">B</option>
      </select>
      <small id="emailHelp" class="invalid-feedback">Please select Section</small>
    </div>
  </div> 
  <div class="col-lg-2">
    <div class="form-group">
      <label for="exampleInputEmail1">Select Date</label>
      <input bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" [(ngModel)]="todaydate" [minDate]="minDate"
        [maxDate]="maxDate" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        [name]="todaydate" placeholder="">
      <small id="emailHelp" class="invalid-feedback"></small>
    </div>
  </div>
  <div class="col-lg-2">
      <br>
    <div class="form-group">  
      <button style="margin-top: 8px;" (click)="getStuByClassSelect()" class="btn btn-danger" >
        <span *ngIf="this.btnLoader"  class="spinner-border spinner-border-sm" role="status"></span>
        <span *ngIf="this.btnLoader"  class="load-text"> Loading...</span>
        <span *ngIf="!this.btnLoader" class="btn-text"><i class="fa fa-search"></i> Get</span>
      </button>
    
    </div>
  </div>

</div>  
<br>
<div *ngIf="showData==true">
  <hr>
  <div class="row">
<div class="col-lg-4">

</div>

<div class="col-lg-4">
  <h4 class="">Mark Attendance</h4><br>
</div>
<div class="col-lg-4">

</div>
  </div>
 

  <form (ngSubmit)="MarkAttendance()">
    <div class="row">
<div class="col-lg-2">

</div>
<div class="col-lg-9">
  <table class="table">
    <thead>
      <tr>
        <td>Roll Number</td>
        <td>Student Name</td>
        <td>Status</td>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of attendance; let i=index">
        <td>
          {{item.RollNo}}</td>
        <td>
          {{item.Name}}</td>
        <td>
          <div class="form-group"> 
            <select *ngIf="item.status==null" [(ngModel)]="item.Status" name={{i}} class="form-control" style="width: 150px;" id="exampleFormControlSelect1"> 
                <option  [selected]="selected"  value="Present">Present</option>
                <option value="Absent">Absent</option>
                <option value="Halfday">Half Day</option>
              </select>

              <select *ngIf="item.status=='Present'" [(ngModel)]="item.Status" name={{item.Status}} class="form-control" style="width: 150px;" id="exampleFormControlSelect1"> 
                <option [selected]="selected" value="Present">Present</option>
                <option  value="Absent">Absent</option>
                <option value="HalfDay">Half Day</option>
              </select>

              <select *ngIf="item.status=='Absent'"  [(ngModel)]="item.Status" name={{item.Status}} class="form-control" style="width: 150px;" id="exampleFormControlSelect1"> 
                <option   value="Present">Present</option>
                <option  [selected]="selected" value="Absent">Absent</option>
                <option  value="HalfDay">Half Day</option>
              </select> 

              <select *ngIf="item.status=='HalfDay'"  [(ngModel)]="item.Status" name={{item.Status}} class="form-control" style="width: 150px;" id="exampleFormControlSelect1"> 
                <option   value="Present">Present</option>
                <option  value="Absent">Absent</option>
                <option  [selected]="selected" value="HalfDay">Half Day</option>
              </select> 
           
          </div>
         </td>
       
      </tr>
    
    </tbody>
  </table> 
</div>
<div class="col-lg-1">

</div>
    </div>
    
    <hr>
    <div class="row">
      <div class="col-lg-5">
       
      </div>
      <div class="col-lg-2">
        <button type="submit" class="btn btn-info">Mark</button>
      </div>
      <div class="col-lg-5">
      </div>
    </div>
  </form>

</div>
